.status-bar {
  background-color: white;
  position: fixed; /* 고정할건데 어디냐면.. */
  top: 0; /* 상단에 딱 붙혀서 */
  width: 100%; /* 가로 100% 고정 */
  display: flex;
  justify-content: center;
  padding: 5px 3px;
  box-sizing: border-box; /* 패딩을 주더라도 주어진 박스 크기는 고정 */
}

.status-bar__column {
  width: 33%;
}

.status-bar__column:first-child span {
  margin-right: 2px;
}

.status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}

.status-bar__column:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.status-bar__column .fa-battery-full {
  margin: 0px 5px;
}
